@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Righteous&display=swap');
/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Righteous', cursive; */

:root{
  color: #8792AD;
  color: #374159;
  color: #FC967E;
  color: #DCE4FA;
  color: #E4FAC3;
  color: #9BB376;
  color: #4d5b36;
}

body {
  font-family: serif;
  font-size: 1em;
  background-color: white;
  color: #8792AD;
}
a {
  font-family: 'Righteous', cursive;
  text-decoration: none;
  color: #4d5b36;
}
li {
  list-style: none;
  display: inline;
}
header, #footer {
  margin: 1em 2em;
  padding: 0 2em;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #E4FAC3;
  border-radius: 1em;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
#main-navigation ul{
  /* font-size: 80%; */
  display: flex;
  flex-flow: row wrap;
  gap: 1.5em;
}
a:hover {
  color:  #FC967E;
}
#main {
  padding: 2em 4em;
}
.landing {
  margin: 0;
  padding: 3em;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
}
.welcome {
  margin: 0;
  display: flex;
  flex-flow:column;
  align-items: center;
}
.page-title {
  text-transform: capitalize;
  font-weight: 200;
  font-size: 4em;
  font-family: 'Righteous', cursive;
  color:  #374159;
  margin: 0;
  text-align: center;
}
.socials ul{
  margin: 0;
  padding: 0.75em;
  display: flex;
  flex-flow: row;
  gap: 3em;
}
.socials li{
  margin: 0;
  font-size: 2em;
}
.socials li a {
  color:#9BB376;
  border-radius: 1em;
}
.socials li a:hover {
  color: #FC967E;
}
.subtitle {
  font-size: 1.25em;
  font-weight: 200;
  text-shadow: none;
  color: white;
  background-color:  #374159;
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
  text-align: center;
  max-width: fit-content;
  border-radius: 0.5em;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
.about-text {
  color: #374159;
  max-width: 60%;
  text-align: center;
}

#skills {
  margin: 1em 2em;
  padding: 1em;
  border-radius: 1em;
  background-color: #DCE4FA;
  font-family: 'Righteous', cursive;
  text-align: center;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
#skills h3{
  font-size: 2em;
  color: #374159;
}

#skills-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  font-family: sans-serif;
}
.skill {
  border-radius: 0.5em;
  background-color:#8792AD;
  padding: 0.5em 2em;
  color:white;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
.skill:hover {
  transform: scale(1.25);
}

#projects {
  margin: 2em 2em;
  padding: 1em;
  border-radius: 1em;
  background-color: #DCE4FA;
  font-family: 'Righteous', cursive;
  text-align: center;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
#projects h3{
  font-size: 2em;
  color: #374159;
}
#projects-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5em;
  padding: 3em 2em;
}
.project {
  font-family: serif;
  border-radius: 0.5em;
  /* border:#374159 2px solid; */
  padding: 1em 2em;
  color:#374159;
  background-color: white;
  max-width:min-content;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
.project h4{
  font-family: 'Righteous', cursive; 
  font-size: 1.5em;
}

.project-image {
  max-width: 300px;
  border-radius: 1em;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
button {
  padding: 0.5em 1em;
  background-color:#FC967E;
  color: white;
  border: none;
  border-radius: 0.5em;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
button a {
  color: white;
}
button:hover {
  background-color:#cf4e32;
}
button a:hover {
  color: white;
}

#experience {
  margin: 1em 2em;
  padding: 1em;
  border-radius: 1em;
  font-family: 'Righteous', cursive;
  text-align: center;
  /* box-shadow: 1px 2px rgba(0, 0, 0, 0.5); */
}
#experience h3{
  font-size: 2em;
  color: #374159;
}
#experience-section {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 1.5em;
  padding: 3em 0em;
  overflow-x: scroll;
}
.experience {
  font-family: serif;
  border-radius: 0.5em;
  /* border:#374159 2px solid; */
  padding: 1em 2em;
  color:#374159;
  background-color: #DCE4FA;
  max-width:fit-content;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
.experience h4{
  font-family: 'Righteous', cursive; 
  font-size: 1.5em;
}
